: root {
  --white-text: rgba (255, 255, 255, 1);

  --grey-text: rgba (157, 164, 189, 1);
  --grey-text-op60: rgba (157, 164, 189, 0.6);
  --grey-text-op40: rgba (157, 164, 189, 0.4);

  -графит : ргба (48, 48, 48, 1);
  -графит-светлый : РГБА (85, 85, 85, 1);

  -оранжевый : rgba (255, 108, 0, 1);

  -обратно-светло-серый : rgba (247, 247, 247, 1);
}
